<body>
  <!-- Importa Bootstrap desde CDN -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  ></script>
@defer () {
  <div class="container mt-8">
    
    <div class="row justify-content-center">
      <div class="col-md-4 d-flex align-items-center">
        <div>
          <h2 class="text-primary">Bienvenido TaskBlitz</h2>
          <p class="text-muted">
            Conéctate fácilmente y empieza a disfrutar de todas las ventajas de nuestra aplicación.
          </p>
        </div>
      </div>

      <!-- Sección derecha: Formulario de Login -->
      <div class="col-md-7">
        <div class="card shadow-lg">
          <div class="card-body p-8">

                <img src="http://localhost:8000/media/profile_images/TaskBlitz.png" alt="Logo" class="logo-img">


              <h3 class="text-center mb-4">Iniciar Sesión</h3>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                  <label for="username" class="form-label">Usuario</label>
                  <input
                    id="username"
                    formControlName="username"
                    type="text"
                    class="form-control"
                    placeholder="Ingrese su usuario"
                  />
                </div>

              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input
                  id="password"
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Ingrese su contraseña"
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary w-100 mb-4"
                [disabled]="loginForm.invalid"
              >
                Iniciar Sesión
              </button>

              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-link"
                  (click)="openModal()"
                >
                  ¿No tiene cuenta? Regístrese aquí
                </button>
                <a class="d-block" (click)="forgot()">¿Olvidaste tu contraseña?</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      *ngIf="isModalOpen"
      class="modal fade show d-block"
      style="background-color: rgba(0, 0, 0, 0.5);"
      (click)="closeModal()"
    >
      <div class="modal-dialog" (click)="$event.stopPropagation()">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Crear Usuario</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="closeModal()"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="modalForm" (ngSubmit)="createUser()">
              <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control"
                  placeholder="Ingrese su nombre de usuario"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Ingrese su correo"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  placeholder="Ingrese su contraseña"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="user_type" class="form-label">Tipo de Usuario</label>
                <select
                  id="user_type"
                  formControlName="user_type"
                  class="form-select"
                  required
                >
                  <option value="jefe">Jefe</option>
                  <option value="empleado">Empleado</option>
                </select>
              </div>

              <div class="d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-primary me-2"
                  [disabled]="modalForm.invalid"
                >
                  Crear Usuario
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="closeModal()"
                >
                  Cerrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
}@placeholder {
  <h3>Cargando</h3>
}@loading {
  <h1>Esta cargando el sistema</h1>
}

</body>
