<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chat" />
</head>

@if (userData && userData.profile.user_type == 'empleado') { <div class="container">
  <!-- Rectángulo de proyectos -->
  <div class="rectangulo-izquierda">
    <div class="welcome-container">
      <div class="profile-info">
        <img class="img-perfil"
     [src]="pimg && pimg !== 'http://localhost:8000null' ? pimg : 'http://localhost:8000/media/profile_images/defecto.jpg'"
     alt="Imagen de perfil"
     class="profile-image"
     (click)="openImageModal()" />
        <span>Bienvenido, {{ userData.username }}</span>
        <div class="invitation-button">
          <button (click)="toggleInvitations()">📨 Invitaciones ({{ pendingInvitations.length }})</button>
        </div>
        <div class="notification-div">
          <button class="notification-button-icon" (click)="loadNotifications()">📨</button>
          <ul class="notification-list">
            <li class="notification-item" *ngFor="let notification of notifications">
              <span class="notification-message">{{ notification.message }}</span>
              <button class="notification-button" (click)="markAsRead(notification.id)">Aceptar</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    <h3>Proyectos:</h3>
    <ul>
      <li *ngFor="let proyecto of userData?.proyectos" 
          [class.selected]="proyecto === selectedProject" 
          (click)="selectProject(proyecto)">
        {{ proyecto.title }}
      </li>
    </ul>
  </div>

  <!-- Rectángulo de tareas -->
  <div class="rectangulo-derecha">
    <h3>Tareas del proyecto seleccionado:</h3>
    <ul *ngIf="nonCompletedTasks.length > 0; else noTareas">
      <li *ngFor="let tarea of nonCompletedTasks" (click)="showTaskDetail(tarea)">
        {{ tarea.tarea.titulo }} <!-- Mostrar el título de la tarea -->
      </li>
    </ul>
    <ng-template #noTareas>
      <p>No hay tareas asignadas para este proyecto o no ha seleccionado ningún proyecto.</p>
    </ng-template>
  </div>
  <button class="chat-open-button" (click)="openChat()"><span class="material-symbols-outlined">
    chat
    </span></button>
   
  </div>


}@else {
  <p>No ha iniciado sesión.</p>
  <button (click)="goLogin()">ir a inicio de sesión</button>
} 

  <div class="modal-2" *ngIf="isChatOpen ==true && selectedProject" >
    <div class="chat-container"  >
      
      <h3>Chat del Proyecto: {{selectedProject.title}}</h3>
      <div class="chat-messages">
        <div *ngFor="let msg of chatMessages" [ngClass]="{'self-message': msg.user === userData.username}">
          <strong>{{ msg.user }}:</strong> {{ msg.content }}
        </div>
      </div>
      <div class="chat-input-container">
        <input [(ngModel)]="newMessage" placeholder="Escribe un mensaje" />
        <button (click)="sendMessage()">Enviar</button>
        <button class="close-button" (click)="closeChat()">Cerrar</button>
      </div>
    </div>
  </div>





  <!-- Modal para los detalles de la tarea -->
  <div class="modal" [class.open]="isModalOpen">
    <div class="modal-content">
      <h2>Detalles de la Tarea</h2>
      <form [formGroup]="taskUpdateForm" (ngSubmit)="enviarAvance()">
        <p><strong>Título:</strong> {{ selectedTask?.tarea.titulo }}</p>
        <p><strong>Descripción:</strong> {{ selectedTask?.tarea.descripcion }}</p>
        <p><strong>Asignado por:</strong> {{ selectedTask?.asignado_por }}</p>
        <p><strong>Fecha de Asignación:</strong> {{ selectedTask?.fecha_asignacion | date: 'short' }}</p>
        <p><strong>Fecha entrega:</strong> {{ selectedTask?.tarea.fechamax | date: 'short' }}</p>
  
        <!-- Selector de avance con FormControl -->
        <label for="avance">Selecciona el Avance:</label>
        <select id="avance" formControlName="avance" required>
          <option value="iniciada">Iniciada</option>
          <option value="Cursando">Cursando</option>
          <option value="finalizada">Finalizada</option>
        </select>
  
        <!-- Botones -->
        <button type="submit" [disabled]="taskUpdateForm.invalid">Enviar Avance</button>
        <button type="button" (click)="closeModal()">Cerrar</button>
      </form>
    </div>
  </div>
  
  


  <!-- Modal de invitaciones pendientes -->
  <div class="modal" [class.open]="isInvitationModalOpen">
    <div class="modal-content">
      <h2>Invitaciones pendientes</h2>
      <ul *ngIf="pendingInvitations.length > 0; else noInvitaciones">
        <li *ngFor="let invitation of pendingInvitations">
          <!-- Asegurarse de que el título del proyecto aparezca -->
          <p><strong>Proyecto:</strong> {{ invitation.project.title }}</p>
          <button (click)="acceptInvitation(invitation.id)">Aceptar</button>
          <button (click)="rejectInvitation(invitation.id)">Rechazar</button>
        </li>
      </ul>
      <ng-template #noInvitaciones>
        <p>No tienes invitaciones pendientes.</p>
      </ng-template>
      <button type="button" (click)="closeInvitationModal()">Cerrar</button>
    </div>
  </div>

  <div class="modal-backdrop" *ngIf="showImageModal">
    <div class="modal-content">
      <span class="close-button" (click)="closeImageModal()"></span>
      <h2>Actualizar Imagen de Perfil</h2>
      <img [src]="userData.profile.image" alt="Imagen de perfil actual" class="profile-img" />
      <input class="form-control" type="file" (change)="onImageSelected($event)" />
      <button (click)="updateProfile()">Actualizar Imagen </button>
      <button class="alter" (click)="logOut()">Cerrar sesión</button>
      <button class="alter" (click)="closeImageModal()"> Cerrar</button> 
    </div>
  </div>
  